[Unit]
Description=Refresh CHPC GPU Finder data
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/srv/chpc-gpu-finder
ExecStart=/usr/bin/env python3 /srv/chpc-gpu-finder/sync_pages_data.py
User=REPLACE_ME
Group=REPLACE_ME
